<h1>Login </h1>
<form method="POST" action="/login" >
<br>
<lable>Username: </lable>
<input type="username" name="user[username]" required>
<br>
</br>
<lable>Password: </lable>
<input type="password" name="user[password]" required>
<br>
<input type="submit" value="Login">
</form>