<h1>Signup Here!</h1>
<form method="POST" action="/signup" >
<br>
<lable>Username: </lable>
<input type="username" name="user[username]" required>
<br>
<lable>Password: </lable>
<input type="password" name="user[password]" required>
<br>
<input type="submit" value="Signup">
</form>