<h1><%=@game.title.capitalize%></h1>
<br><br><br><br><br><br><br><br><br><br><br>

<p>Comments:</p>


<ul> 
  <%@game.reviews.each do |review|%>
    <li>
      <%#binding.pry%>
      <%= review.comment %> - <small><em><%= !!review.user ? review.user.username.capitalize : "" %></em></small>
    </li>
    <br>
  <%end%>
</ul>
<br><br>


<a href="/games/<%=@game.id%>/review/new">Add Comment</a>
<br>
</br>

