<h1>Welcome to new Games Review!</h1>
<img src="https://nice-assets.s3-accelerate.amazonaws.com/smart_templates/e4ed3938300dbdb11cb1137a7b48ae81/assets/preview_636188690e8be736ae88b1f30f737cc1.jpg" alt="Smiley face" width="50" height="50">
<br>
<a href="/login">Login </a>
 <br>
 <br>
<a href="/signup">Click Here To Signup </a>